p{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}
form
{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
input{
    margin: 4px;
    text-align: center;
    font-size: 25px;
    border-color: black;
}

.anuncio
{
    background-color: red;
    color: white;
}